.text {
  text-align: center;
  color: red;
}

.text::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: black;
}


.text::before{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: black;
}
